extends layout

block content
    .banner
        .container
            .row
                .col-md-6
                .col-md-6.banner-intro.pull-right
                    h1.banner-heading Êtes-vous prêt ?
                    h2.banner-phrase Choisissez votre équipement et venez défier les plus habiles d'entre vous ! 
                    .banner-buttons
                        a.btn.btn-lg.btn-success.playnow-button(href='/playnow') Jouez
                        .signup-section ou <a href="/signup"><span class="label label-info">inscrivez-vous</span></a> pour sauver votre progression.
    .container
